server:
  port: 8000

eureka:
  instance:
    prefer-ip-address: true
    lease-renewal-interval-in-seconds: 30
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka

spring:
  application:
    name: apigateway-service
  cloud:
    gateway:
      routes:
        - id: authentication
          uri: http://localhost:8081/
          predicates:
            -  Path=/api/auth/**

        - id: userservice
          uri: http://localhost:8082/
          predicates:
            - Path=/api/users/**

        - id: nutrientservice
          uri: http://localhost:8083/
          predicates:
            - Path=/api/nutrients/**